ejercicio6.json
{
  "nodes": [
    {
      "parameters": {
        "formTitle": "Rick and Morty",
        "formDescription": "Consulta en la API ",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nombre",
              "requiredField": true
            },
            {
              "fieldLabel": "Ciudad",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -192,
        -544
      ],
      "id": "3911ab11-6c5a-47d6-a2ac-d88fa5b15936",
      "name": "On form submission2",
      "webhookId": "c02b53ba-8bfa-479a-8729-e70fd12f6cca"
    },
    {
      "parameters": {
        "url": "https://geocoding-api.open-meteo.com/v1/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "={{ $('On form submission2').item.json.Nombre }}"
            },
            {
              "name": "={{ $('On form submission2').item.json.Ciudad }}",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        144,
        -544
      ],
      "id": "93efbe92-2591-4bdc-a30c-828a15694590",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "57839f3e-8afb-492d-9bcf-18cd99083a69",
              "name": "Nombre",
              "value": "={{$json.Nombre}}",
              "type": "string"
            },
            {
              "id": "a8d94bcd-8ae1-4c21-8c71-ea3e0eb9fddc",
              "name": "Ciudad",
              "value": "={{$json.Ciudad}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        -544
      ],
      "id": "0689571c-4684-433a-a48e-2220b7c2f3a4",
      "name": "Edit Fields1"
    }
  ],
  "connections": {
    "On form submission2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fddb7eb1f9d8ab3fabc315e1f703eabdba49242dd1c2e33a3a1a31d80dd61528"
  }
}